.mainContainer {
  display: flex;
  flex-direction: column;
}

.heading {
  margin: 30px 15px 15px 15px;
}

.listContainerFullWidth {
  background-color: #fafafa; 
  width: 100%;
}

.listContainerSplitWidth {
  background-color: #fafafa;
  width: 100%;
}

.sheetContainer {
  transition: transform 1s ease-in;
  background-color: #fff;
  border-top: outset 2px;
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .listContainerSplitWidth, .listContainerFullWidth {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 798px) {
  .mainContainer {
    flex-direction: row;
  }
  .listContainerSplitWidth {
    width: 70%;
  }
  .sheetContainer {
    border-left: outset 2px;
    padding: 10px;
    width: 30%;
  }
}
